{% extends "layout.html" %}
{% block content %}

  <!--{% for message in get_flashed_messages() %}-->
    <!--<div class="flash">{{ message }}</div>-->
  <!--{% endfor %}-->

    {% for message in form.qa_resource.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.username.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.board_id.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.sprint_name.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    <form action = "{{url_for('index')}}"  method="POST" >
    {{ form.hidden_tag() }}

    {{ form.qa_resource.label }}
        {{form.qa_resource(id='qa_resource')}}

    {{ form.username.label }}
        {{form.username(id='username')}}

    {{ form.password.label }}
        {{form.password(id='password')}}

    {{ form.board_id.label }}
        {{form.board_id(id='board_id')}}

    {{ form.sprint_name.label }}
        {{form.sprint_name(id='sprint_name')}}

        {{form.submit(id='submit')}}
    </form>
{% endblock %}