{% extends "layout_template.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div id="loading" style="display: none; text-align: center; padding-top: 50px;"><img src="static/images/loading.gif" ></div>
<div id="content">
    {{ super() }}
    <form action = "{{url_for('school_customized_index')}}"  method="POST" name="form" >
    {{ form.hidden_tag() }}

    {% for message in form.qa_resource.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.project_name.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.username.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {{ form.username.label }}
        {{form.username(id='username')}}

    {{ form.password.label }}
        {{form.password(id='password')}}

      {{ form.project_name.label }}
        {% for o in form.project_name.choices %}
        <INPUT TYPE=CHECKBOX name="check" value="{{o[1]}}">{{ o[1]|safe }}</INPUT>
        {% endfor %}

    {{ form.qa_resource.label }}
        {{form.qa_resource(id='qa_resource')}}

        {{form.submit(id='submit')}}
    </form>

<script>
    function preloader(){
        document.getElementById("loading").style.display = "block";
        document.getElementById("content").style.display = "none";
    }
    window.onload = function() {
      document.querySelector('form').onsubmit = preloader;
    }
</script>
</div>
{% endblock %}


