<html>

<head>
    <style>
        .Success {
            color: green;
        }
        .Fail {
            color: red;
        }

    body {
        font-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }
        table th {
            background-color: #999;
        }
        table th:nth-child(2),
        table td:nth-child(2) {
            white-space: nowrap;
            word-break: keep-all;
        }
        table {
    background-color: transparent;
        border-spacing: 0;
    border-collapse: collapse;
    }
    caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
    }
    th {
    text-align: left;
    }
    .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    }
    .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    }
    .table > caption + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > th,
    .table > thead:first-child > tr:first-child > th,
    .table > caption + thead > tr:first-child > td,
    .table > colgroup + thead > tr:first-child > td,
    .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    }
    .table > tbody + tbody {
    border-top: 2px solid #ddd;
    }
    .table .table {
    background-color: #fff;
    }
    .btn-toggle-table {
        text-align: right;
        text-decoration: underline;
        margin-top: -1em;
        padding-bottom: 10px;
        cursor:pointer;
        user-select:none;
    }

    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript">

    $(function(){
        $(".btn-toggle-table").click(function(){
            $(this).next().find('tbody').toggle();
         });
    });
    //PieChart Bug priority share definition.
    $(function () {
        $('#piechart_priority_share').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Bug share by priority'
            },

            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                    name: 'Bug found',
                colorByPoint: true,
                data: {{bug_priority_nested_lists|safe}}
            }]
        });
    });
    // PieChart story share definition.
     $(function () {
            $('#piechart_story_share').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Bug share by story'
                },

                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                        name: 'Bug found',
                    colorByPoint: true,
                    data: {{story_share_nested_lists|safe}}
                }]
            });
        });
    //bug trend of accumulative opened bugs & closed bugs -- Version 3
    $(function () {
        $('#bug_trends').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Sprint Bug Trends'
            },
            xAxis: {
                categories: {{total_bug_and_opened_bug_pair_nested_list[0]|safe}}
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Bug Count'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            },
            series: [{
                name: 'Open Bugs',
                color: '#ff9900',
                data: {{total_bug_and_opened_bug_pair_nested_list[1]|safe}}
            }, {
                name: 'Resolved Bugs',
                color : '#dc3912',
                data: {{total_bug_and_opened_bug_pair_nested_list[2]|safe}}

            }, {
                name: 'Closed Bugs',
                color : '#3366cc',
                data: {{total_bug_and_opened_bug_pair_nested_list[3]|safe}}
            }]
        });
    });
    </script>

</head>
<body>
<div id="loading"></div>
<div id="content">
<div class="page-header" style=" text-align:center; ">
    {% if customized_component %}
    <h1>{{project_required|safe}} {{customized_component|safe}} Sprint Report - <body>{{sprint_name_string|safe}}</body></h1>
    {% else %}
    <h1>{{project_required|safe}} Sprint Report - <body>{{sprint_name_string|safe}}</body></h1>
    {% endif %}

    <h5>QA Resources: "{{qa_resource|safe}}"</h5>

        <nav>
            <ul class="menu">
                <li  style=" text-align:right; list-style-type:none"><a href="{{ url_for('success') }}">Download Sprint Report</a></li>
            </ul>
        </nav>

</div>


<div class="Sprint-status">
    {% if project_required == "ME" %}
    <h4>Sprint Status</h4>
        <div>Actual completed story points in current sprint: <b>{{actual_story_points|safe}}</b>.</div>
    {% else %}
        <div>Sprint Status: <b class = "{{sprint_status|safe}}">"{{sprint_status|safe}}"</b>, actual completed sprint story points during sprint period: <b>{{actual_story_points|safe}}</b>.</div>
    {% endif %}
</div>

<div class="Unplanned-tasks">
    <h4>Tasks added in current sprint after sprint began</h4>
        <div>Total unplanned story points: <b>{{unplanned_story_points|safe}}</b> .</div>
        <div id="unplanned_stories_div">
            <div class="btn-toggle-table">Expand/Collapse</div>
            <table class="table sortable">
                <tr>
                    <!--<th width="30">#</th>-->
                    <th width="100">Key</th>
                    <th width="100">Priority</th>
                    <th>Summary</th>
                    <th width="100">Status</th>
                 </tr>
                {% for item in range(unplanned_nest_lists|length) %}
                <tr>
                    <!--<td>{{item}}</td>-->
                    {% for l in unplanned_nest_lists[item] %}
                        <td> {{l|safe}} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </table>
        </div>
</div>

{% if sprint_status != "Success" %}
<div class="failed-tasks">
    <h4>Un-Completed Tasks</h4>
        <div>Total un-completed story points: <b>{{un_completed_story_points|safe}}</b> . Percentage of un-completed tasks in sprint: <b>{{un_completed_tasks_percentage|safe}}</b></div>
        <div id="failed_stories_div">
            <div class="btn-toggle-table">Expand/Collapse</div>
             <table class="table sortable">
                <tr>
                    <!--<th width="30">#</th>-->
                    <th width="100">Key</th>
                    <th width="100">Priority</th>
                    <th>Summary</th>
                    <th width="100">Status</th>
                 </tr>
                {% for item in range(un_completed_tasks_nest_lists|length) %}
                <tr>
                    <!--<td>{{item}}</td>-->
                    {% for l in un_completed_tasks_nest_lists[item] %}
                        <td> {{l|safe}} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </table>
        </div>

</div>
{% endif %}

<div class="bugs-in-current-sprint">
  <h4>Bugs found in current sprint</h4>
    <div id="bug_list_div">
        <div class="btn-toggle-table">Expand/Collapse</div>
         <table class="table sortable">
            <tr>
                <!--<th width="30">#</th>-->
                <th width="100">Key</th>
                <th width="100">Priority</th>
                <th>Summary</th>
                <th width="100">Status</th>
             </tr>
            {% for item in range(sprint_bug_nested_lists|length) %}
            <tr>
                <!--<td>{{item}}</td>-->
                {% for l in sprint_bug_nested_lists[item] %}
                    <td> {{l|safe}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
    </div>

  <h5>Bug analysis charts</h5>
    <div id="piechart_priority_share" style="min-width: 310px; height: 400px; max-width: 500px;" align="left"></div>

    <div id="piechart_story_share" style="min-width: 310px; height: 400px; max-width: 600px;" align="left"></div>
        <h4>Bugs not related to any stories in sprint</h4>
        <div class="btn-toggle-table">Expand/Collapse</div>
        <table class="table sortable">
            <tr>
                <!--<th width="30">#</th>-->
                <th width="100">Key</th>
                <th width="100">Priority</th>
                <th>Summary</th>
                <th width="100">Status</th>
             </tr>
            {% for item in range(story_share_detail_info|length) %}
            <tr>
                <!--<td>{{item}}</td>-->
                {% for l in story_share_detail_info[item] %}
                    <td> {{l|safe}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    <br />
    <div>
        <p><b>Sprint Bug Trends</b></p>
        <br />
        <div id="bug_trends" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>

</div>

<div class="Previous-found-bugs-closed-in-sprint">
    <h4>Bugs found in other sprint but closed in current sprint</h4>
        <div id="Previous_found_bugs_closed_in_sprint_div">
            <div class="btn-toggle-table">Expand/Collapse</div>
            <table class="table sortable">
            <tr>
                <!--<th width="30">#</th>-->
                <th width="100">Key</th>
                <th width="100">Priority</th>
                <th>Summary</th>
                <th width="100">Status</th>
             </tr>
            {% for item in range(previous_bugs_closed_in_sprint|length) %}
            <tr>
                <!--<td>{{item}}</td>-->
                {% for l in previous_bugs_closed_in_sprint[item] %}
                    <td> {{l|safe}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
        </div>
    <br />

</div>

<div class="Automation-Found-Bug-Panel ">
    <h4>Bugs found by automation</h4>
        <div id="automation_bug_div">
            <div class="btn-toggle-table">Expand/Collapse</div>
            <table class="table sortable">
            <tr>
                <!--<th width="30">#</th>-->
                <th width="100">Key</th>
                <th width="100">Priority</th>
                <th>Summary</th>
                <th width="100">Status</th>
             </tr>
            {% for item in range(sprint_automation_found_bug_nested_lists|length) %}
            <tr>
                <!--<td>{{item}}</td>-->
                {% for l in sprint_automation_found_bug_nested_lists[item] %}
                    <td> {{l|safe}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
        </div>
    <br />
        <div>Percentage of bugs found by automation: <b>{{sprint_automation_bug_percentage|safe}}</b></div>

</div>

<div class = "Live-Defect-Panel">
    <h4>Live Defects</h4>
        <div id="live_defect_div">
            <div class="btn-toggle-table">Expand/Collapse</div>
            <table class="table sortable">
            <tr>
                <!--<th width="30">#</th>-->
                <th width="100">Key</th>
                <th width="100">Priority</th>
                <th>Summary</th>
                <th width="100">Status</th>
             </tr>
            {% for item in range(sprint_live_defect_nested_lists|length) %}
            <tr>
                <!--<td>{{item}}</td>-->
                {% for l in sprint_live_defect_nested_lists[item] %}
                    <td> {{l|safe}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
        </div>
        <br />
        <div>Percentage of tasks which are live defects: <b>{{sprint_live_defect_percentage|safe}}</b></div>
</div>

<div class ="Change-Request-Panel">
    <h4>Change Requests</h4>
        <div id="change_request_div">
            <div class="btn-toggle-table">Expand/Collapse</div>
            <table class="table sortable">
            <tr>
                <!--<th width="30">#</th>-->
                <th width="100">Key</th>
                <th width="100">Priority</th>
                <th>Summary</th>
                <th width="100">Status</th>
             </tr>
            {% for item in range(sprint_change_request_nested_lists|length) %}
            <tr>
                <!--<td>{{item}}</td>-->
                {% for l in sprint_change_request_nested_lists[item] %}
                    <td> {{l|safe}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>

        </div>
        <br />
        <div>Percentage of tasks which are change requests: <b>{{sprint_change_request_percentage|safe}}</b></div>
</div>

<div class="planned-tasks">
    <h4>Tasks planned to do in this sprint:</h4>
        <div id="planned_stories_div">
            <div class="btn-toggle-table">Expand/Collapse</div>
            <table class="table sortable">
                <tr>
                    <!--<th width="30">#</th>-->
                    <th width="100">Key</th>
                    <th width="100">Priority</th>
                    <th>Summary</th>
                    <th width="100">Status</th>
                 </tr>
                {% for item in range(planned_nest_lists|length) %}
                <tr>
                    <!--<td>{{item}}</td>-->
                    {% for l in planned_nest_lists[item] %}
                        <td> {{l|safe}} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </table>
        </div>
</div>
</div>

</body>
</html>